<h1>Edit Team</h1>

<form action="<%= team_path(@team.id) %>" method="post">
    <label>
        Name:
        <input name="name" required value="<%= @team.name %>">
    </label>

    <label>
        total rating:
        <input name="name" name="total rating" value="<%= @team.totalRating %>">
    </label>

    <label>
        Image:
        <input type="url" name="image" value="<%= @team.image %>">
    </label>

    <button>Edit Team</button>
</form>