<h1>All Teams</h1>

<div class="team-list">
  <% @teams.each do |team| %>
    <div class="team-member">
      <%= link_to team_path(team.id) do %>
        <%= cl_image_tag(team.logo, class: "team-image") %>
        <div class="team-member-name"><%= team.team_name %></div>
      <% end %>
    </div>
  <% end %>
</div>
